* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

img,
svg {
    width: 100%;
    display: block;
}

.content {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 20px;
    line-height: 32.5px;
}

header {
    padding-bottom: 90px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 3px 9px rgba(0, 0, 0, 0.70);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 25px;
}

header nav figure a {
    display: block;
}

header nav ul {
    display: flex;
    gap: 35px;
}

li {
    list-style-type: none;
}

button.boxshadow:hover,
a.boxshadow:hover {
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.70);
    cursor: pointer;
    text-decoration: none;
}

.small-button {
    font-size: 14px;
    font-weight: 500;
    padding: 7px 16px;
    border-radius: 30px;
}

.big-button {
    font-size: 20px;
    padding: 16px 32px;
    border: 1px solid;
    border-radius: 30px;
    font-weight: 600;
}

.white-button {
    background-color: white;
    border-color: white;
}

.white-button:hover {
    color: #5865F2;
}

header a.white-button {
    color: black;
    text-shadow: none;
}

.purple-button {
    color: white;
    background-color: #5865f2;
    border-color: #5865f2;
}

.purple-button:hover {
    background-color: #7983F5;
    border-color: #7983F5;
}

#cta {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px auto 0 auto;
    color: white;
    text-align: center;
}

#cta h1 {
    font-size: 56px;
}

#cta-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
}

#cta-buttons button:nth-child(2) {
    color: white;
    background-color: #23272A;
    border-color: #23272A;
}

#cta-buttons button:nth-child(2):hover {
    background-color: #313338;
    border-color: #313338;
}

section {
    padding-top: 100px;
}

.img-text {
    display: flex;
    gap: 5%;
    margin-bottom: 160px;
}

.img-text figure {
    flex-basis: 70%;
}

.section-text {
    flex-basis: 30%;
}

.section-text h2 {
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 30px;
}

section.discord-services:nth-of-type(even) {
    background-color: #F6F6F6;
}

section.discord-services:nth-child(even) .img-text figure {
    order: 1;
}

section .wave-1hkxOo:nth-child(odd) {
    fill: red;
}

.discord-zoom {
    text-align: center;
}

.discord-zoom h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
}

.discord-zoom h3 {
    font-size: 32px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
}

.discord-zoom button {
    margin-block: 50px 120px;
}

footer {
    background-color: #23272A;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-block: 80px 40px;
    border-bottom: solid 2px #4a5882;
}

footer nav li {
    line-height: 40px;
}

footer nav>div:first-child {
    flex-grow: 1.5;
    color: white;
}

footer nav>div {
    flex-grow: 1;
}

footer h4 {
    color: #778FE5;
    text-transform: capitalize;
    margin-bottom: 25px;
}

footer nav div:first-child h4:first-child {
    font-size: 30px;
}

footer nav div:first-child h4,
nav div:nth-child(3) ul li:nth-child(2) a {
    text-transform: none;
}

footer nav div:first-child span::before {
    content: "";
    background-image: url("../img/ita.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 25px;
    height: 15px;
    margin-right: 10px;
}

.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.language-sorting::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-size: 15px;
    font-weight: 900;
    margin-left: 7px;
}

footer nav div:first-child ul {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

footer nav div:first-child ul li {
    font-size: 25px;
}

.footer-login {
    display: flex;
    justify-content: space-between;
    padding-block: 40px 60px;
}

.footer-login>a:hover {
    text-decoration: none;
}