* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

html {
    font-family: 'Noto Sans', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.content {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 20px;
    line-height: 32.5px;
}

header nav figure,
header nav ul,
header nav a {
    border: 1px dashed black;
}

header {
    background-color: lightcyan;
    padding-bottom: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
}

header nav figure a {
    display: block;
}

header nav ul {
    display: flex;
    gap: 35px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: white;
}

nav>a {
    color: black;
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 30px;
}

nav>a:hover {
    color: #5865F2;
    text-decoration: none;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.70);
}

#cta {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px auto 0 auto;
}

#cta h1 {
    color: white;
    font-size: 56px;
}

#cta p {
    color: white;
    text-align: center;
}

#cta-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
}

#cta-buttons button,
.discord-zoom button {
    font-size: 20px;
    padding: 16px 32px;
    border: 1px solid;
    border-radius: 30px;
    font-weight: 600;
}

#cta-buttons button:first-child,
nav>a {
    background-color: white;
    border-color: white;
}

#cta-buttons button:nth-child(2) {
    color: white;
    background-color: #23272A;
    border-color: #23272A;
}

section {
    border: 1px dashed black;
    padding-block: 100px;
}

section .img-text {
    display: flex;
    gap: 5%;
}

section .img-text figure {
    flex-basis: 70%;
}

section .section-text h2 {
    margin-bottom: 30px;
}

section .img-text .section-text {
    flex-basis: 30%;
}

.section-text h2 {
    font-size: 48px;
    line-height: 57.6px;
}

section.discord-services:nth-child(odd) {}

section.discord-services:nth-child(even) {
    background-color: #F6F6F6;
    padding-bottom: 0;
}

section.discord-services:nth-child(even) .img-text {
    margin-bottom: 50px;
}

section.discord-services:nth-child(even) .img-text figure {
    order: 1;
}

.discord-zoom {
    text-align: center;
}

.discord-zoom h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
}

.discord-zoom h3 {
    font-size: 32px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
}

.discord-zoom button {
    color: white;
    background-color: #5865f2;
    border-color: #5865f2;
}

.discord-zoom button:hover {
    background-color: #7983F5;
    border-color: #7983F5;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.70);
}

footer {
    background-color: #121212;
    color: white;
}

footer ul li {
    list-style-type: none;
}

footer .container {
    display: flex;
    /* justify-content: space-between; */
}

footer .container>div {
    flex-grow: 1;
}

footer .container>div:first-child {
    flex-grow: 2;
}

footer .footer-login {
    display: flex;
    justify-content: space-between;
}